[general]

[sets]
{% for extension in extensiones %}
exten => {{ extension.numero }},1,NoOp(Llamada entrante a {{ extension.numero }})
same => n,Dial(PJSIP/{{ extension.numero }},20)
same => n,VoiceMail({{ extension.numero }}@default,u)
same => n,Hangup()
{% endfor %}

[from-twilio]
exten => _X.,1,NoOp(Llamada entrante desde Twilio)
same => n,Dial(PJSIP/${EXTEN},20)
same => n,Hangup()

[sets]
exten => _9.,1,NoOp(Llamada saliente via Twilio)
same => n,Set(CALLERID(num)={{ twilio_numero }})
same => n,Dial(PJSIP/twilio-trunk/sip:${EXTEN:1}@{{ twilio_host }})
same => n,Hangup()