#!KAMAILIO

####### Global Parameters #########
debug=2
log_stderror=no
log_facility=LOG_LOCAL0
fork=yes
children=4

listen=udp:0.0.0.0:5060

####### Modules Section ########
loadmodule "kex.so"
loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "dispatcher.so"
loadmodule "xlog.so"

####### Dispatcher Parameters #######
modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher/dispatcher.list")
modparam("dispatcher", "ds_ping_interval", 10)
modparam("dispatcher", "ds_probing_mode", 1)

####### Routing Logic ########
request_route {
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483","Too Many Hops");
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    if (!ds_select_dst("1", "4")) {
        sl_send_reply("503", "Service Unavailable");
        exit;
    }

    t_relay();
    exit;
}