[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0
external_media_address={{ ansible_host }}
external_signaling_address={{ ansible_host }}
local_net=172.31.0.0/16

{% for extension in extensiones %}
[{{ extension.numero }}]
type=endpoint
context=sets
auth={{ extension.numero }}
aors={{ extension.numero }}
disallow=all
allow=ulaw
allow=alaw
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[{{ extension.numero }}]
type=auth
auth_type=userpass
username={{ extension.numero }}
password={{ extension.password }}

[{{ extension.numero }}]
type=aor
max_contacts=1
qualify_frequency=30
{% endfor %}

[twilio-trunk]
type=endpoint
context=from-twilio
disallow=all
allow=ulaw
allow=alaw
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[twilio-trunk]
type=aor
contact=sip:{{ twilio_host }}

[twilio-trunk]
type=auth
auth_type=userpass
username={{ twilio_account_sid }}
password={{ twilio_auth_token }}

[twilio-identify]
type=identify
endpoint=twilio-trunk
match=54.172.60.0/23
match=54.244.51.0/24
match=54.171.127.192/26